.SearchMovie {
    width: 18vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

    margin-bottom: 5vh;
    cursor: pointer;

}

.SearchMovie:hover {
    transform: scale(1.1);
    transform-origin: center center;
}

.SearchMovie > p {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}

.SearchMovie > img {
    width: 250px;
    border-radius: 10px;
}

.SearchMovie > img:hover {
    border: solid 2px white;
}