.Header {
    width: 93vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;


    background: rgba(24, 23, 25, 0.5);
    backdrop-filter: blur(4px);
    position: fixed;
    z-index: 5;
    top: 0;

    border-radius: 8px;
    margin-top: 9px;
    transition: 1s;
}

.logo {
    width: 4vw;
    margin-left: 2vw;
}

section {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    width: 5vw;
    height: 4vh;
    border: none;

    background-image: radial-gradient(circle farthest-corner at 10% 50%, rgb(219, 159, 61) 8%, rgba(28, 28, 28, 0.8) 100.2%);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin-left: 0.5vw;
    cursor: pointer;
    color: white;
}

.back:hover {
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(28, 28, 28, 0.8) 17.8%, rgba(219, 159, 61, 0.8) 100.2%);

}

nav {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a {
    text-decoration: none;
    margin: 2vw;
    font-size: 25px;
    font-weight: 700;
    color: #9b9b9b;
    transition: 0.5s;
}

nav > a:hover {
    color: white;
    transition: 0.5s;
}

nav > a[class='active'] {
    color: #DB9F3DFF;
}

.user {
    width: 2.3vw;
    border-radius: 25px;
    margin: 0 1vw 0 1vw;
    background: #DB9F3DFF;
}

#username {
    font-size: 17px;
    font-family: "Ojuju", sans-serif;
    font-weight: 700;
    color: #9b9b9b;
    margin-left: 1vw;
}

.light {
    color: black;
    transition: 1s;
}

.light #username {
    color: black;
}

.light a {
    color: black;
}