.Genres {
    width: 93vw;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 8px 6px 0;
    transition: 1s;
}

.Genres a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    background-image: radial-gradient(circle farthest-corner at 10% 50%, rgb(219, 159, 61) 8%, rgba(28, 28, 28, 0.8) 100.2%);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.Genres a[class='active'] {
    background: #e5a00d;
    color: black;
}

.Genres a:hover {
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(28, 28, 28, 0.8) 17.8%, rgba(219, 159, 61, 0.8) 100.2%);
}


.light a {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 176, 46, 0.7) 17.8%, rgb(132, 132, 133) 100.2%);
    color: black;
}

.light a[class='active'] {
    color: white;
}