.Genre {
    width: 8.7vw;
    height: 7vh;
    justify-content: center;
    align-items: center;

    border-radius: 12px;

    margin: 2px 2px 7px;
    cursor: pointer;
}

.Genre > a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    background: rgba(128, 0, 128, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    text-align: center;

    color: white;
}

.Genre > a[class='active'] {
    background: #e5a00d;
    color: black;
}